{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ commentaire.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ commentaire.email }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ commentaire.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentaire_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commentaire_edit', { 'id': commentaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
