{% extends 'base.html.twig' %}

{% block titre %}<h1>OKASHI ODOZO</h1>{% endblock %}

{% block body %}

<section class="blog mdl-grid" ">
  {% if isPrev %}
    <a href="{{path('page',{'id':page+1})}}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
  {% endif %}

  {% if articles|length == 0 %}
  <h3>{{message}}</h3>
  {% endif %}

  {% for article in articles %}

  <div class="mdl-cell mdl-cell--3-col" style="background-image:url('{{ article.media }}')">

    <a href="{{ path('_show', { 'id': article.id }) }}">
      <!-- Accent-colored raised button with ripple -->
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        {{ article.titre }}
      </button>

    </a>

  </div>

  {% endfor %}
  {% if page>0 %}
    <a href="{{path('page',{'id':page-1})}}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  {% endif %}
  {% if page==1 %}
    <a href="{{path('_index')}}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  {% endif %}
</section>

{% endblock %}
